version: "3.9"

services:
  api:
    build:
      context: ./ConstructorApi
      dockerfile: Dockerfile
    container_name: constructor_api_app
    env_file:
      - .env
    ports:
      - "8080:8080"
    environment:
      ConnectionStrings__DefaultConnection: "Host=postgres_db;Port=5432;Database=constructordb;Username=postgres;Password=postgres"
      ASPNETCORE_ENVIRONMENT: "Development" 
    depends_on:
      - postgres_db

  postgres_db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: constructordb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
